.houses-container {
  display: grid;
  gap: 7rem;
  grid-auto-rows: 43rem;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  height: 100%;
  font-size: 20px;
  margin: 5rem;
}

.house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  width: 300px;
  text-decoration: none;
}

.house p {
  margin: 5px;
}

.house img {
  border-radius: 13px 13px 0 0;
}

.house a {
  color: black;
}
